html,
body {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: black;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
canvas {
    z-index: 1;
    display: block;
    position: absolute;
    animation: flower 0.9s linear infinite

}
@keyframes flower{
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
